extends base
block nav
    +navbar("home")

block content
    div.container
        //- Sort the two arrays
        - openLoc.sort(function (a,b) { return (a.closeDate) - (b.closeDate); });
        - closedLoc.sort(function (a,b) { return (a.closeDate) - (b.closeDate); });

        // infobar
        if (openLoc.length == 0)
            .row.recommendation
                .span4.offset4
                    h3 Looks like nothing on campus is open :(
        else
            .row.recommendation
                .span4.offset4
                    - var randChoice = openLoc[Math.floor(Math.random() * openLoc.length)];
                        h3 Can't make up your mind?  CMU Eats thinks you should eat at
                        h1= randChoice.name
                        p= randChoice.location
                        p.closeTime(closeDate=randChoice.closeDate)  

        // open locations
        - for (var i = 0; i < openLoc.length; i += 3)
            .row
                if (i < openLoc.length)
                    -var loc = openLoc[i];
                    .col-lg-4.open_restaurant
                        h2= loc.name 
                        p= loc.location
                        p.closeTime(closeDate=loc.closeDate)  

                if (i + 1 < openLoc.length)
                    -var loc = openLoc[i + 1];
                    .col-lg-4.open_restaurant
                        h2= loc.name 
                        p= loc.location
                        p.closeTime(closeDate=loc.closeDate)  
            
                if (i + 2 < openLoc.length)
                    -var loc = openLoc[i + 2];
                    .col-lg-4.open_restaurant
                        h2= loc.name 
                        p= loc.location
                        p.closeTime(closeDate=loc.closeDate)  
        
        // closed locations
        - for (var i = 0; i < closedLoc.length; i += 3)
            .row
                if (i < closedLoc.length)
                    -var loc = closedLoc[i];
                    .col-lg-4.closed_restaurant
                        h2= loc.name 
                        p= loc.location
                        p.openTime(openDate=loc.closeDate)  

                if (i + 1 < closedLoc.length)
                    -var loc = closedLoc[i + 1];
                    .col-lg-4.closed_restaurant
                        h2= loc.name 
                        p= loc.location
                        p.openTime(openDate=loc.closeDate)  
            
                if (i + 2 < closedLoc.length)
                    -var loc = closedLoc[i + 2];
                    .col-lg-4.closed_restaurant
                        h2= loc.name 
                        p= loc.location
                        p.openTime(openDate=loc.closeDate)  
    script(src="/js/moment.min.js")
    script(src="/js/time.js")
